
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    width: 80%;
    height: 50px;
    margin: 20px;
    background-color: lawngreen;
    border: solid;
}
#div1 {
    animation: fadein 1s linear forwards;
    margin-top: 50px;
}
#div2 {
    animation: fadein 1.2s linear /*cubic-bezier(0, 0, 0.63, 0.95)*/forwards;
}
#div3 {
    animation: fadein 1.4s linear/*cubic-bezier(0, 0, 0.63, 0.95)*/ forwards;
}
#div4 {
    animation: fadein 1.6s linear/*cubic-bezier(0, 0, 0.63, 0.95)*/ forwards;
    //animation-delay: 3s;
}
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    25%{
        opacity: 0;
        transform: translateY(-10px);
    }
    50%{
        opacity: 0;
        transform: translateY(-20px);
    }
    75%{
        opacity: 0;
        transform: translateY(-30px);
    }
    // 80% {
    //     opacity: 0.6;
    // }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-40px);
    }
}