
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    border-radius: 15px;
    position: relative;
    top: 100px;
    left: 5%;
    width: 90%;
    box-shadow: 0 0 1px gray;
}
.menu::after {
    content: "Nouveau";
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    background-color: mediumaquamarine;
    color: green;
    //font-size: 1.2rem;
}
.img {
    width: 100%;
    height: 200px;
    //border-radius: 15px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px 15px 0 0;
    }    
}
.flex {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.icon {
    position: relative;
}
svg {
    width: 35px;
    height: 30px;
    path {
        //fill:transparent;
        transform-origin: center;
        //transform: scale(0.5);
        transition: transform .3s;
    }
}
.svg2 {
    position: relative;
    top: 0;
    left: 0;
    path {
        fill: transparent;
    }
}
.svg2:hover ~ .svg3 {
        path {
            transform: scale(1);
    }
}
.svg3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    path {
        transform: scale(0);
        fill: purple;
        stroke: transparent;
    }
}
.clair {
    color: red;
}
.fonce {
    color: darken($color: red, $amount: 20%);
}
/*.svg1 {
    position: relative;
    width: 100px;
    height: 100px;
    path {
        fill: transparent;
    }
}
.svg2 {
    position: absolute;
    left: 0;
    path {
        transform: scale(0.1);
    }
    path:hover {
        transform: scale(0.8);
        fill: yellow;
        stroke: red;
    }
}
.svg3 {
    width: 100px;
    height: 100px;
    
}*/
