@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1, h3 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-animation: fadeout 1s ease-in forwards;
          animation: fadeout 1s ease-in forwards;
  background-color: #fff;
  z-index: 10;
}

.loader-container__loader {
  font-size: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.loader-container__loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: solid transparent;
  border-top: solid #9356DC;
  border-left: solid #9356DC;
  border-bottom: solid #9356DC;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin 2s linear infinite reverse;
}

.loader-container__loader::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border: solid transparent;
  border-right: solid #FF79DA;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.loader-container__loader .fas {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #99E2D0;
}

.loader-container p {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  position: relative;
}

header a {
  color: #000000;
}

header .fa-arrow-left {
  position: absolute;
  left: 20px;
  bottom: 35%;
}

header img {
  width: 45%;
  margin: 10px;
}

@media all and (min-width: 700px) {
  header img {
    width: 30%;
    max-height: 40px;
  }
}

@media all and (min-width: 1000px) {
  header img {
    width: 25%;
    max-height: 50px;
  }
}

@media all and (min-width: 1400px) {
  header img {
    width: 20%;
    max-height: 70px;
  }
}

.location {
  text-align: center;
  background-color: #ededed;
  padding-bottom: 60px;
  border-top: solid 2px #bababa;
}

.location__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #D3D3D3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  margin-bottom: 40px;
}

.location__city i {
  margin-right: 20px;
}

@media all and (min-width: 1000px) {
  .location__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.location .flexbox__infos > p {
  font-size: 1.5rem;
  margin: 10px;
}

.location .flexbox__infos .p--fsize {
  font-size: 1.2rem;
}

.location__button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 60%;
  border-radius: 20px;
  -webkit-transform: translateX(33%);
          transform: translateX(33%);
  margin-top: 25px;
  -webkit-box-shadow: 0px 2px 0.5em 1px #bababa;
          box-shadow: 0px 2px 0.5em 1px #bababa;
}

@media all and (min-width: 700px) {
  .location__button {
    width: 40%;
    -webkit-transform: translateX(78%);
            transform: translateX(78%);
  }
}

@media all and (min-width: 1000px) {
  .location__button {
    -webkit-transform: none;
            transform: none;
    width: 30%;
    margin-top: inherit;
  }
}

.location__button p {
  padding: 10px 0;
  color: #fff;
}

.location__button:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  -webkit-box-shadow: 0px 2px 0.5em 3px #878787;
          box-shadow: 0px 2px 0.5em 3px #878787;
}

.fonctionnement {
  padding: 50px 15px;
}

@media all and (min-width: 700px) {
  .fonctionnement__container {
    width: 70%;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@media all and (min-width: 1000px) {
  .fonctionnement__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -webkit-transform: inherit;
            transform: inherit;
  }
}

.fonctionnement__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 25px 0;
  height: 60px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0px 2px 0.5em 1px #bababa;
          box-shadow: 0px 2px 0.5em 1px #bababa;
  background-color: #ededed;
}

.fonctionnement__step i, .fonctionnement__step p {
  margin-left: 20px;
}

.fonctionnement__step i {
  color: #878787;
  padding-left: 10px;
}

.fonctionnement__step .i--color {
  color: #9356DC;
}

.fonctionnement__step .p--fsize {
  font-size: 1.3rem;
}

@media all and (min-width: 1000px) {
  .fonctionnement__step {
    margin: 25px 15px;
  }
}

.fonctionnement .fonctionnement--choix::before {
  content: '1';
  position: absolute;
  left: -12px;
  width: 19px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
}

.fonctionnement .fonctionnement--composition::before {
  content: '2';
  position: absolute;
  left: -12px;
  width: 19px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
}

.fonctionnement .fonctionnement--degustation::before {
  content: '3';
  position: absolute;
  left: -12px;
  width: 19px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
}

.restaurants {
  background-color: #ededed;
  padding-bottom: 25px;
}

.restaurants h2 {
  padding: 40px 0 0 20px;
}

.restaurants__cards {
  padding: 10px;
}

@media all and (min-width: 700px) {
  .restaurants__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurants__card {
  color: #000000;
}

@media all and (min-width: 700px) {
  .restaurants__card {
    width: 50%;
  }
}

@media all and (min-width: 1400px) {
  .restaurants__card {
    width: 25%;
  }
}

.restaurants .card {
  background-color: #fff;
  position: relative;
  border-radius: 15px;
  margin: 15px 10px;
  -webkit-box-shadow: 0px 2px 0.5em 1px #bababa;
          box-shadow: 0px 2px 0.5em 1px #bababa;
}

.restaurants .card--nouveau::after {
  content: "Nouveau";
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 15px;
  background-color: #99E2D0;
  color: #1b6150;
}

.restaurants .card__img {
  height: 170px;
}

.restaurants .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants .card__txt-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}

.restaurants .card__txt-icon .txt p {
  line-height: 1.5em;
}

.restaurants .card__txt-icon .icon {
  position: relative;
  top: 10px;
}

.restaurants .card__txt-icon svg {
  width: 25px;
  height: 20px;
}

.restaurants .card__txt-icon svg path {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.restaurants .card__txt-icon .svg1 {
  position: absolute;
}

.restaurants .card__txt-icon .svg1 path {
  fill: transparent;
}

.restaurants .card__txt-icon .svg1:hover ~ .svg2 path {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.restaurants .card__txt-icon .svg2 path {
  -webkit-transform: scale(0);
          transform: scale(0);
  fill: #FF79DA;
  stroke: transparent;
}

footer {
  color: #fff;
  background-color: #3a3a3a;
  padding: 20px;
}

footer h3, footer span {
  font-weight: normal;
}

footer h3 {
  margin-bottom: 15px;
}

footer .fa-utensils::before {
  font-size: 0.8rem;
}

footer .fa-hands-helping::before {
  font-size: 0.55rem;
}

@media all and (min-width: 700px) {
  footer .fa-hands-helping::before {
    font-size: 0.8rem;
  }
}

footer .footer__txt i {
  line-height: 1.5rem;
}

footer .footer__txt span {
  margin-left: 15px;
}

@media all and (min-width: 700px) {
  footer .footer__txt span {
    margin-left: 5px;
  }
}

footer .footer__txt a {
  color: #fff;
}

footer .footer__txt p {
  margin-bottom: 5px;
}

@media all and (min-width: 1000px) {
  footer .footer__txt p {
    margin-bottom: 0;
  }
}

@media all and (min-width: 700px) {
  footer .footer__txt br {
    display: none;
  }
}

@media all and (min-width: 700px) {
  footer .footer__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer--translate {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.grande_image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #ededed;
  border-radius: 40px 40px 0 0;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  padding: 15px 0 60px 0;
}

.menu__titre-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.menu__titre-icon .icon {
  position: relative;
  top: 10px;
}

.menu__titre-icon svg {
  width: 25px;
  height: 20px;
}

.menu__titre-icon svg path {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.menu__titre-icon .svg1 {
  position: absolute;
}

.menu__titre-icon .svg1 path {
  fill: transparent;
}

.menu__titre-icon .svg1:hover ~ .svg2 path {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__titre-icon .svg2 path {
  -webkit-transform: scale(0);
          transform: scale(0);
  fill: #FF79DA;
  stroke: transparent;
}

.menu__plat {
  margin: 15px 10px;
}

.menu__plat .firstp {
  position: relative;
  margin: 20px 0;
}

.menu__plat .firstp::after {
  content: '';
  position: absolute;
  border: #99E2D0 solid 1px;
  width: 40px;
  height: 0;
  left: 0px;
  background: #99E2D0;
  margin: 5px 0;
}

.menu__plat--flex {
  margin-bottom: 35px;
}

.plat__card {
  border-radius: 20px;
  font-size: 1rem;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  height: 70px;
  -webkit-box-shadow: 0px 2px 0.5em 1px #bababa;
          box-shadow: 0px 2px 0.5em 1px #bababa;
}

.plat__card:hover .plat__check .motion {
  -webkit-transform: translateX(-67px);
          transform: translateX(-67px);
}

.plat__card:hover .plat__info {
  width: 80%;
}

.plat__card:hover .plat__check .fa-check-circle {
  /*transform: rotate(360deg);*/
  -webkit-animation: rotate .5s ease;
          animation: rotate .5s ease;
}

.plat__card .plat__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  padding: 15px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plat__card .plat__info .plat {
  overflow: hidden;
}

.plat__card .plat__info .plat h4, .plat__card .plat__info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plat__card .plat__info .plat h4 {
  margin-bottom: 5px;
}

.plat__card .plat__info .plat p {
  font-size: 0.8rem;
}

.plat__card .plat__info .prix {
  margin-right: 30px;
}

.plat__card .plat__info .prix p {
  margin-top: 80%;
}

.plat__card .plat__check {
  background-color: aqua;
  position: relative;
  height: 100%;
}

.plat__card .plat__check .motion {
  position: absolute;
  right: -45px;
  top: 24px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.plat__card .plat__check .motion .fa-check-circle {
  color: white;
  font-size: 1.5rem;
}

.button--position {
  text-align: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 50%;
}

.menu__plat--fade1 {
  -webkit-animation: fadein 1s linear forwards;
          animation: fadein 1s linear forwards;
}

.menu__plat--fade2 {
  -webkit-animation: fadein 1.2s linear forwards;
          animation: fadein 1.2s linear forwards;
}

.menu__plat--fade3 {
  -webkit-animation: fadein 1.4s linear forwards;
          animation: fadein 1.4s linear forwards;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */