@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
$primary: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$fourth-color: #D3D3D3;
$title: 'Shrikhand', cursive;
$text: 'Roboto', sans-serif;
//mixin
@mixin shadow($color: darken($fourth-color, 10%) , $size: 1px) {
    box-shadow: 0px 2px 0.5em $size $color;
}
@mixin design-before-element {
    position: absolute;
    left: -12px;
    width: 19px;
    text-align: center;
    background-color: $primary;
    border-radius: 50%;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $text;
}
h1, h3 {
    font-family: $title;
}
a {
    text-decoration: none;
}
//loader
.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    animation: fadeout 1s ease-in forwards;
    background-color: #fff;
    z-index: 10;
    &__loader {
        font-size: 2rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border: solid transparent;
            border-top: solid $primary;
            border-left: solid $primary;
            border-bottom: solid $primary;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            animation: spin 2s linear infinite reverse;
        }
        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            border: solid transparent;
            border-right: solid $second-color;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            animation: spin 2s linear infinite;
        }
        .fas {
            position: absolute;
            top:35%; left: 50%;
            transform: translateX(-50%);
            color: $third-color;
        }
    }
    p {
        position: absolute;
        top: 35%; left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-family: $text;
    }
} // fin loader
header {
    text-align: center;
    position: relative;
    a {
        color: #000000;
    }
    .fa-arrow-left {
        position: absolute;
        left: 20px;
        bottom: 35%;
    }
    img {
        width: 45%;
        margin: 10px;
        @media all and (min-width: 700px) {
            width: 30%;
            max-height: 40px; 
        }
        @media all and (min-width: 1000px) {
            width: 25%;
            max-height: 50px; 
        }
        @media all and (min-width: 1400px) {
            width: 20%;
            max-height: 70px;
        }
    }
}
.location {
    text-align: center;
    background-color: lighten($color: $fourth-color, $amount: 10%);
    padding-bottom: 60px;
    border-top: solid 2px darken($color: $fourth-color, $amount: 10%);
    &__city {
        display: flex;
        background-color: $fourth-color;
        justify-content: center;
        padding: 10px 0;
        margin-bottom: 40px;
        i {
            margin-right: 20px;
        }
    }
    &__flexbox {
        @media all and (min-width: 1000px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .flexbox__infos {
        >p {
            font-size: 1.5rem;
            margin: 10px;
        }
        .p--fsize {
            font-size: 1.2rem;
        }
    }
    &__button {
        background: linear-gradient($second-color, $primary);
        width: 60%;
        border-radius: 20px;
        transform: translateX(33%);
        margin-top: 25px;
        @include shadow;
        @media all and (min-width: 700px) {
            width: 40%;
            transform: translateX(78%); 
        }
        @media all and (min-width: 1000px) {
            transform: none;
            width: 30%;
            margin-top: inherit;
        }
        p {
            padding: 10px 0;
            color: #fff;
        }
    }
    &__button:hover {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
        @include shadow(darken($fourth-color, 30%), 3px);
    }
}
.fonctionnement {
    padding: 50px 15px;
    &__container {
        @media all and (min-width: 700px) {
            width: 70%;
            transform: translateX(25%); 
        }
        @media all and (min-width: 1000px) {
            display: flex;
            justify-content: space-around;
            width: 100%;
            transform: inherit; 
        }
    }
    &__step {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 25px 0;
        height: 60px;
        border-radius: 20px;
        position: relative;
        @include shadow;
        background-color: lighten($color: $fourth-color, $amount: 10%);
        i, p {
            margin-left: 20px;
        }
        i {
            color: darken($color: $fourth-color, $amount: 30%);
            padding-left: 10px;
        }
        .i--color {
            color: $primary;
        }
        .p--fsize {
            font-size: 1.3rem;
        }
        @media all and (min-width: 1000px) {
            margin: 25px 15px; 
        }
    }
    & .fonctionnement--choix {
        &::before {
            content: '1';
            @include design-before-element;
        }
    }
    & .fonctionnement--composition {
        &::before {
            content: '2';
            @include design-before-element;
        }
    }
    & .fonctionnement--degustation {
        &::before {
            content: '3';
            @include design-before-element;
        }
    }
}
.restaurants {
    background-color: lighten($color: $fourth-color, $amount: 10%);
    padding-bottom: 25px;
    h2 {
        padding: 40px 0 0 20px;
    }
    &__cards {
        padding: 10px;
        @media all and (min-width: 700px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__card {
        color: #000000;
        @media all and (min-width: 700px) {
            width: 50%;
        }
        @media all and (min-width: 1400px) {
            width: 25%;
        }
    }
    .card {
        background-color: #fff;
        position: relative;
        border-radius: 15px;
        margin: 15px 10px;
        @include shadow;
    }
    .card--nouveau {
        &::after {
            content: "Nouveau";
            border-radius: 2px;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 15px;
            background-color: $third-color;
            color: darken($color: $third-color, $amount: 50%)
        }
    }
    .card__img {
        height: 170px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
    }
    .card__txt-icon {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        .txt p {
            line-height: 1.5em;
        }
        .icon {
            position: relative;
            top: 10px;
        }
        svg {
            width: 25px;
            height: 20px;
            path {
                transform-origin: center;
                transition: transform .3s;
            }
        }
        .svg1 {
            position: absolute;
            path {
                fill: transparent;
            }
        }
        .svg1:hover ~ .svg2 {
            path {
                transform: scale(1);
        }
    }
        .svg2 {
            // position: absolute;
            // top: 0;
            // left: 0;
            // z-index: -1;
            path {
                transform: scale(0);
                fill: $second-color;
                stroke: transparent;
            }
        }
    }
}
footer {
    color: #fff;
    background-color: darken($color: $fourth-color, $amount: 60%);
    padding: 20px;
    h3, span {
        font-weight: normal;
    }
    h3 {
        margin-bottom: 15px;
    }
    .fa-utensils::before {
        font-size: 0.8rem;
    }
    .fa-hands-helping::before {
        font-size: 0.55rem;
        @media all and (min-width: 700px) {
            font-size: 0.8rem;
        }
    }
    .footer__txt {
        i {
            line-height: 1.5rem;
        }
        span {
            margin-left: 15px;
            @media all and (min-width: 700px) {
                margin-left: 5px;
            }
        }
        a {
            color: #fff;
        }
        p {
            margin-bottom: 5px;
            @media all and (min-width: 1000px) {
                margin-bottom: 0;
            }
        }
        br {
            @media all and (min-width: 700px) {
                display: none;
            }    
        }
        @media all and (min-width: 700px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
.footer--translate {
    transform: translateY(-45px);
}
//animation
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
        z-index: 10;
    }
    90% {
        opacity: 1;
        z-index: 10;
    }
    100% {
        opacity: 0;
        z-index: -10;
    }
}
//page menu
.grande_image {
    width: 100%;
    object-fit: cover;
}
.menu {
    background-color: lighten($color: $fourth-color, $amount: 10%);
    border-radius: 40px 40px 0 0;
    transform: translateY(-45px);
    padding: 15px 0 60px 0;
    &__titre-icon {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .icon {
            position: relative;
            top: 10px;
        }
        svg {
            width: 25px;
            height: 20px;
            path {
                transform-origin: center;
               // transition: transform .3s;
            }
        }
        .svg1 {
            position: absolute;
            path {
                fill: transparent;
            }
        }
        .svg1:hover ~ .svg2 {
            path {
                transform: scale(1);
        }
    }
        .svg2 {
            // position: absolute;
            // top: 0;
            // left: 0;
            // z-index: -1;
            path {
                transform: scale(0);
                fill: $second-color;
                stroke: transparent;
            }
        }
    }
}
//animation page menu
.menu__plat {
    margin: 15px 10px;
    .firstp {
        position: relative;
        margin: 20px 0;
    }
    .firstp::after {
        content: '';
        position: absolute;
        border: $third-color solid 1px;
        width: 40px;
        height: 0;
        left: 0px;
        //z-index: 10;
        background: $third-color;
        margin: 5px 0;
    }
}
.menu__plat--flex {
    margin-bottom: 35px;
}
.plat__card {
    //border: solid;
    border-radius: 20px;
    font-size: 1rem;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    height: 70px;
    //animation: fadein 1s linear forwards;
    @include shadow;
    &:hover .plat__check .motion {
        transform: translateX(-67px);
    }
    &:hover .plat__info {
        width: 80%; 
     }
    &:hover .plat__check .fa-check-circle {
        /*transform: rotate(360deg);*/
        animation: rotate .5s ease;
    }
    .plat__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: .5s all ease;
        padding: 15px 0 0 10px;
        display: flex;
        justify-content: space-between;
        .plat {
            overflow: hidden;
        }
        .plat h4, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .plat h4 {
            margin-bottom: 5px;
        }
        .plat p {
            font-size: 0.8rem;
        }
        .prix {
            margin-right: 30px;
            p {
                margin-top: 80%;
            }
        }
    }
    .plat__check {
        background-color: aqua;
        position: relative;
        height: 100%;
        .motion {
            position: absolute;
            right: -45px;
            top: 24px;
            transition: .5s all ease;
            .fa-check-circle {
                color: white;
                font-size: 1.5rem;
            }
        }
    }
}
.button--position {
    text-align: center;
    transform: translateX(50%);
    width: 50%;
}
.menu__plat--fade1 {
    animation: fadein 1s linear forwards;
}
.menu__plat--fade2 {
    animation: fadein 1.2s linear forwards;
}
.menu__plat--fade3 {
    animation: fadein 1.4s linear forwards;
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}  
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    25%{
        opacity: 0;
        transform: translateY(30px);
    }
    50%{
        opacity: 0;
        transform: translateY(20px);
    }
    75%{
        opacity: 0;
        transform: translateY(10px);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
} 