

$primary: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$fourth-color: #D3D3D3;
$title: 'Shrikhand', cursive;
$text: 'Roboto', sans-serif;
//map
$breakpoints: (
    tablette-s: 500px,
    tablette: 700px,
    desktop-s: 1000px,
    desktop-m: 1200px,
    desktop-l: 1400px
);