@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $text;
}
body {
    background-color: #ededed;
}
h1, h3 {
    font-family: $title;
}
a {
    text-decoration: none;
    color: #000000;
}